{
    auto_https off
}

:80 {
    log

    handle /api* {
        reverse_proxy backend:8000
    }

    handle /docs* {
        rewrite * /api/v1{uri}
        reverse_proxy backend:8000
    }

    handle /openapi.json {
        rewrite * /api/v1/openapi.json
        reverse_proxy backend:8000
    }

    handle /ws* {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:80
    }
}
